/weights/
/src/GPT_SoVITS/pretrained_models/
/src/GPT_SoVITS/text/G2PWModel/
.DS_Store
*/.DS_Store
*.log
.idea/
.vscode/
*.pyc
workspaces/
*/__pycache__/
*/.ipynb_checkpoints/
*/.pytest_cache/
*/.mypy_cache/
*/.coverage
__pycache__/